:root {
    --footer-height: 3em;
    --nav-width: 215px;
    --header-height: 6em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    position: relative;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    flex-shrink: 0;

    height: calc(100vh - var(--footer-height) - var(--header-height));
    width: var(--nav-width);
    padding-top: 2em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    /* width: calc(100vw - var(--nav-width)) */
}

h1 {
    /* background-color: aqua; */
    /* margin: .35em; */
    text-align: center;
}

.container-row {
    display:flex;
    flex-direction: row;
}

.container-col {
    display:flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    height: 50vh;
    display: block;
    object-fit: contain;
}

menu {
    height: inherit;
}

footer {
    height: var(--footer-height);
    margin-top: auto;
    padding: 1em;
    text-align: center;

    color: #eee;
    background-color: #333;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: inherit;
    padding: 1em;
}

#main-menu {
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.home-link {
    padding-bottom: 1.4em;
    font-weight: 800;
}

.close-menu {
    align-self: flex-end;

    cursor: pointer;
}

.addNewPost {
    color: #333;
    font-weight: 600;
}

#visions {
    /* display: grid; */
    /* gap: 1em; */
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 18%; */
    /* grid-template-columns: repeat(auto-fill, minmax(375px + calc(100vw - (375px * 2)), 1fr)); */

}

#visions{
    display: grid;
    grid-template-columns: repeat(365, minmax(auto, auto));
    gap: .5em;
    width: calc(100vw - var(--nav-width));

    margin: 0 auto;
    overflow-x: auto;
}

.vision-element {
    /* grid-column: span 1; */
    width: auto;
    display: flex;
    background: linear-gradient(90deg, #eee, #fff);
}

.picture {
    width: auto; /* El ancho dependerá del objeto contenidio */
    height: 50vh;
    object-fit: contain;
}

.context {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 1em 0 1em;
    min-width: 375px;
}

.text {
    width: 100%;
}

.caption {
    margin-top: 1em;
    text-align: end;
}

.hidden {
    display: none;
}

.post-form {
    position: absolute;
    left: var(--nav-width);
    bottom: calc(2em + var(--footer-height));

    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 2em;
}

.post-form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post-form input, .post-form textarea {
    align-self: flex-end;
    
    padding-left: 0.25em;
    
    background-color: #eee;
    border-radius: 0.15em;
    border: none;   
    border-bottom: solid 1px #333; 
    
    resize: none;
}

.vision-form input {
    background-color: white;
    border: none;
}

.vision-form {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
    background-color: lightseagreen;
}


.post-form p {
    margin-bottom: .8em;
}

.caption-form {

    background-color: lightskyblue;
}

.password-form {
    /* align-self: flex-end; */

    background-color: lightskyblue;
}

.password-form :first-child {
    margin-bottom: 1.5em;
}