* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    display: flex;

    text-decoration: none;
}

body {
    display:flex;
    flex-direction: row;
    gap: 2em; 
}

/* #meta {
    display: flex;
    flex-direction: row;
    gap: 10px
} */

#content {
    display: flex;
    gap: 4em; 
    /* flex-direction: column; */
}

img {
    width: 550px;
    height: 385px;
    
    object-fit: contain;
    /* object-position: 45% 0%; */
}

.picture {
    display: flex;
    align-items: center;
}

.context {
    display: flex;
    flex-direction: column;
}

.caption {
    text-align: center;
}
