:root {
    --footer-height: 3em;
    --nav-width: 185px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    background-color: rgb(233, 215, 193);
    height: calc(100vh - var(--footer-height));
    width: var(--nav-width);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: violet;
    /* display: flex;
    justify-content: center; */
    width: calc(100vw - var(--nav-width))
}

h1 {
    background-color: aqua;
    margin: .35em;
    text-align: center;
    /* padding-left: 585px; */
}

.container-row {
    display:flex;
    flex-direction: row;
}

.container-col {
    display:flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

img {
    height: 50vh;

    object-fit: contain;
}

menu {
    height: inherit;
}

footer {
    height: var(--footer-height);
    margin-top: auto;
    padding: 1em;
    text-align: center;

    color: #eee;
    background-color: #333;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: inherit;
    padding: 1em;
}

#main-menu {
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.close-menu {
    align-self: flex-end;

    cursor: pointer;
}

.addNewPost {
    color: rgb(255, 254, 240);
    margin-top: auto;
}

.tobedeleted {

    /* display: flex; */
    flex-wrap: nowrap; /* Prevent wrapping */
    min-width: max-content;  /* Ensure it’s at least as wide as the viewport */
    gap: 1em;
    margin: 1em 0 1em 0;
}


#visions {
    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 22%;


    overflow-x: auto;
    /* overscroll-behavior-inline: contain; */
}

.vision-element {
    display: flex;
    background-color: #f4f4f4;    /* Light gray background */
    min-width: 450px;
}

.tobedeletedtoo {
    display: flex;
    list-style: none; /* Remove bullet points */
    padding: 1em;
}

.picture {
    display: flex;
}

.context {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 1em 0 1em;
    width: 300px;
}

.text {
    width: 100%;
}

.caption {
    margin-top: 1em;
    text-align: end;
}

